#edit_profile {
  box-sizing: border-box;

  display: inline-flex;
  padding: 25.6px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12.8px;

  border-radius: 12px;
  border: 0.8px solid #ededed;
  background: #fff;
  box-shadow: 0px 0px 3.2px 0px rgba(0, 0, 0, 0.25);
}

#edit_profile > .header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: #292929;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: -0.4px;
}

#edit_profile > .edit_profile_image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 15.2px;
}

#edit_profile > .edit_profile_image > img {
  display: flex;
  width: 120px;
  height: 120px;
  align-items: center;
  gap: 9.6px;

  border-radius: 12.8px;
}

#edit_profile > .edit_profile_image > .file-upload-container {
  display: flex;
  width: 275.2px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12.8px;

  background: #fff;
}

#edit_profile
  > .edit_profile_image
  > .file-upload-container
  > .file-upload-option
  > label {
  display: flex;
  align-items: center;
  gap: 6.4px;

  color: #636363;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#edit_profile > .edit_profile_image > .file-upload-container > .last-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2px;
  align-self: stretch;
}

#edit_profile
  > .edit_profile_image
  > .file-upload-container
  > .last-option
  > .upload-image {
  display: flex;
  height: 24px;
  align-items: flex-start;
  align-self: stretch;

  border: 0.8px solid #a9a9a9;
}

#edit_profile
  > .edit_profile_image
  > .file-upload-container
  > .last-option
  > .upload-image
  > input {
  flex: 1 0 0;
  align-self: stretch;
  border: none;
  outline: none;
}
#edit_profile
  > .edit_profile_image
  > .file-upload-container
  > .last-option
  > .upload-image
  > button {
  border: none;
  outline: none;
  display: flex;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;

  background: #a9a9a9;

  color: #fff;
  font-family: Inter;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 187.5% */
  letter-spacing: -0.4px;
}

#edit_profile
  > .edit_profile_image
  > .file-upload-container
  > .last-option
  > .upload-image
  > button:hover {
  filter: brightness(0.9);
}
#edit_profile
  > .edit_profile_image
  > .file-upload-container
  > .last-option
  > .upload-image
  > button:active {
  filter: brightness(1);
}

#edit_profile > .edit_nickname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 3px;
}
#edit_profile > .edit_nickname > .title {
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#edit_profile > .edit_nickname > input {
  outline: none;
  display: flex;
  height: 24px;
  align-items: flex-start;
  align-self: stretch;

  border: 0.8px solid #a9a9a9;

  width: 274px;
  height: 24px;
}

#edit_profile > .save {
  outline: none;
  border: none;

  display: flex;
  width: 93.6px;
  height: 29.6px;
  padding: 8.8px 19.2px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 12px;
  background: #50806b;
  box-shadow: 0px 3.2px 0.8px 0px rgba(0, 0, 0, 0.25);

  color: #fff;
  font-family: Poppins;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#edit_profile > .save:hover {
  filter: brightness(0.9);
}
#edit_profile > .save:active {
  filter: brightness(1);
}
