#temp_password_form {
  display: inline-flex;
  margin-left: 64px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 43px;

  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.25);
}

#temp_password_form > .title {
  height: 45px;

  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#temp_password_form > .email {
  height: 51px;
  align-self: stretch;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border-bottom: 1px solid #50806b;
}

#temp_password_form > .email > .description {
  color: #999;
  font-family: Poppins;
  font-size: 10.4px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#temp_password_form > .email > label {
  display: flex;
  width: 343.2px;
  align-items: center;
  gap: 9px;
}

#temp_password_form > .email > label > img {
  width: 12.8px;
  height: 12.8px;
  flex-shrink: 0;
}

#temp_password_form > .email > label > input {
  flex: 1 0 0;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border: none;
  outline: none;
}

#temp_password_form > .transfer_email {
  width: 343.2px;
  height: 42.4px;
  flex-shrink: 0;

  border-radius: 25.6px;
  background: #50806b;
  box-shadow: 0px 3.2px 20.8px 0px rgba(0, 0, 0, 0.25);

  border: none;
  outline: none;

  color: #fff;
  font-family: Poppins;
  font-size: 13.6px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#temp_password_form > .transfer_email:hover {
  filter: brightness(0.8);
}

#temp_password_form > .transfer_email:active {
  filter: brightness(1);
}
