#updatepassword {
  margin-left: 64px;

  box-sizing: border-box;
  display: flex;
  width: 478.4px;
  padding: 25.6px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  border-radius: 12px;
  border: 0.8px solid #ededed;
  background: #fff;
  box-shadow: 0px 0px 3.2px 0px rgba(0, 0, 0, 0.25);
}

#updatepassword > .header {
  display: flex;
  width: 440px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: #292929;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: -0.4px;
}

#updatepassword > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34.4px;
}
#updatepassword > ul > li {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#updatepassword > ul > li > span {
  color: #000;
  font-family: Poppins;
  font-size: 10.4px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}
#updatepassword > ul > li > div {
  display: flex;
  width: 343.999px;
  align-items: center;
  gap: 9px;
}
#updatepassword > ul > li > div > img {
  width: 13.6px;
  height: 13.6px;
  flex-shrink: 0;
}
#updatepassword > ul > li > div > input[type="text"] {
  flex: 1 0 0;

  border: none;
  outline: none;
}

#updatepassword > button {
  border: none;
  outline: none;

  border-radius: 25.6px;
  background: #50806b;
  box-shadow: 0px 3.2px 20.8px 0px rgba(0, 0, 0, 0.25);

  width: 120.8px;
  height: 42.4px;

  color: #fff;
  font-family: Poppins;
  font-size: 13.6px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#updatepassword > button:hover {
  filter: brightness(0.9);
}

#updatepassword > button:active {
  filter: brightness(1);
}
