* {
  padding: 0;
  margin: 0;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: inherit; /* 부모 요소의 색상을 상속받습니다. */
  text-decoration: none; /* 밑줄 제거 */
  background-color: transparent; /* 배경색 투명 */
  outline: none; /* 포커스 아웃라인 제거 */
}

/* 스크롤바 전체 스타일링 */
::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
  height: 8px; /* 스크롤바의 높이 (가로 스크롤바의 경우) */
}

/* 스크롤바 트랙 (바탕 부분) */
::-webkit-scrollbar-track {
  background: #eee; /* 트랙의 배경색 */
  border-radius: 4px; /* 트랙의 모서리 둥글기 */
}

/* 스크롤바 핸들 (움직이는 부분) */
::-webkit-scrollbar-thumb {
  background: #bbd4c9; /* 핸들의 색 */
  border-radius: 4px; /* 핸들의 모서리 둥글기 */
}

/* 스크롤바 핸들에 마우스를 올렸을 때 */
::-webkit-scrollbar-thumb:hover {
  background: #aaa; /* 핸들의 색 변경 */
}

body {
  width: 100%;
  min-height: 100vh;
  background: #fff;
}

li {
  list-style-type: none;
}

a {
  text-decoration-line: none;
}
